#title{
  font-family: Copperplate, Arial, sans-serif;
  text-align: center;
  font-size: 4em;
}

body {
    margin: 0px;
    background-color: #f4f4f4;
    font-family: Helvetica, Arial, sans-serif;
}

/* base styles */

input {
    height: 60px;
    width: 300px;
    font-size: 2em;
    border: 2px solid black;
    padding: 5px;
}

button {
 
    bottom: 60px;
    margin: 2px;
    height: 50px;
    background-color:#742180;
    color: #EDDC1A;
    border:1px solid #dedede;
    font-weight:bold;
    cursor:pointer;
    font-size: 1.5em;
}

button:hover {
    background-color:#AB1BC4;
    border:1px solid #C6D880;
}

button:active {
    background-color:#ED1AD5;
    border:6px solid #EDDC1A;
    color:#fff;
}
